spring:
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  client:
    serviceUrl:
      # eureka-server的地址
      defaultZone: http://euka2.com:8762/eureka/
  instance:
    # 注册到eureka-server的实例名称
    hostname: euka1.com
